<h1>Welcome, <%= @user.email %>!</h1>

<p>Your account has been approved by an administrator.</p>

<p>You can now log in to the app and start trading.</p>

<%= link_to 'Log in', new_user_session_url %>
