<div style="text-align:center; margin-top: 50px;">
  <h1>404 - Page Not Found</h1>
  <p>The page you were looking for doesn't exist or an invalid address was entered.</p>
  <%= link_to 'Home', root_path, class: 'btn btn-primary', style: 'margin-top: 20px;' %>
</div>
